@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900');

* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: Inter;
}

body {
  padding-bottom: 200px;
}

.nav {
  display: flex;
  align-content: center;
  justify-content: center;
  background: transparent;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-img {
  height: 70px;
  transition: 0.5s;
}

.nav-img:hover {
  transform: rotate(360deg);
}

.content {
  display: block;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

.left {
  margin-left: 100px;
}

.right {
  text-align: right;
  align-items: right;
  margin-right: 100px;
}

a {
  color: #FFB210;
  transition: 0.5s;
  text-decoration: none;
}

a:hover {
  color: #FF8C40;
}

.yellow {
  padding: 15px;
  background: white;
  outline: none;
  border: 2.5px solid #FFB210;
  border-radius: 5px;
  color: #FFB210;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.yellow:hover {
  background: #FFB210;
  color: white;
}

.orange {
  padding: 15px;
  background: #FFB210;
  outline: none;
  border: 2.5px solid #FFB210;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.orange:hover {
  background: #FF8C40;
  border-color: #FF8C40;
  color: white;
}